# SPDX-License-Identifier: Apache-2.0

# Doc team docOps
*                           @ConsenSys/protocol-docops

# Doc team
/docs/                      @ConsenSys/protocol-pliny
/mkdocs.*.yml               @ConsenSys/protocol-pliny
.github/vale/styles/Vocab/  @ConsenSys/protocol-pliny
