{% if config.extra.version and config.theme.language %}
  <script>
    const site_version_json = '{{config.site_url + "versions.json" }}'
    const site_current_language = '{{config.theme.language}}';
    const site_current_version = '{{config.extra.version}}';
  </script>

  <form class="md-header__option" name="version">
    <select id="__version" class="md-search__input" aria-label="version">
      <option value="latest" selected="selected">Latest</option>
    </select>
  </form>
{% endif %}
