{% extends "main.html" %}

{% block extrahead %}
  {{ super() }}
  {% if page.meta.katacoda %}
    <style>
      .md-header {
        position: unset;
      }
      main {
        display: none;
      }
    </style>
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% if page.meta.katacoda %}
    <script src="https://www.katacoda.com/embed.js"></script>
  {% endif %}
{% endblock %}

{% block tabs %}
  {{ super() }}
  {% if page.meta.katacoda %}
  <div id="katacoda"
       data-katacoda-id="{{ page.meta.katacoda }}"
       data-katacoda-hidefinish="false"
       data-katacoda-hideintro="false"
       data-katacoda-color="213fa4"
       style="height: 600px;"></div>
  {% endif %}
{% endblock %}

{% block content %}
  {% if not page.meta.katacoda %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block site_nav %}
  {% if not page.meta.katacoda %}
    {{ super() }}
  {% endif %}
{% endblock %}
